{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="saske sacody company" />
    <meta name="description" content="منصة ساكاد التعليميه هدفنا إعداد و تدريب الموارد البشريه علي إستخدام احدث التقنيات و الوسائل ليكونوا قادرين علي مواكبة سوق العمل و التميز و التصدر دائماً" />
    <meta name="keywords" content="ساكاد, منصة, التعليميه, التعليم, التعلم, الثانويه, الثانوية, العامه, العامة, التعليمية, منصه, المنيا, منصة ساكاد التعليميه , منصة ساكاد, tafawoq platform, tafawoq, platform, TAFAWOQ, PLATFORM, Tafawoq, Platform, education, secondary, Education, EDUCATION, school, School, SCHOOL, e-learning, E-learning, E-Learning, e-learning, e_learning, E_learning, E_Learning, e_learning" />
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './decore/indexStyle.css' %}">
    <link rel="stylesheet" href="{% static './decore/search.css' %}">
    <link rel="stylesheet" href="{% static './decore/charts.css' %}">
    <link rel="stylesheet" href="{% static './deb/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './deb/icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static './deb/icons/iconfont/icofont.min.css' %}">
    <link rel="icon" type="image/png" href="{% static './media/images/icon.png' %}"/>
    
