{% extends 'index.html' %}
{% load static %}
{% block title %}
    منصة ساكاد | المحاضرات
{% endblock title %}
{% block main %}
<header>
    <h6>{% if user.is_staff %} {{user}} {% else %} {{cuser}} {% endif %} </h6>
    <h1 class="htc">
        مرحبا بك يا {% if user.is_staff %} {{user.first_name}} {% else %} {{cuser.Sfname}} {% endif %} في منصة ساكاد التعليميه
    </h1>
</header>
{% if all %}
<h2>المحاضرات المتاحه:</h2>
<hr style="height:5px;" class="bg-warning">
<div class="row">
    {% for all in all %}
    <div class="col-md-4 me-auto ms-auto sec">
        <a class="lec1" href="{{ all.get_absolute_url }}">
            <div class="lec" style="background-image: url({% if not all.limg %} {% static './media/images/secback3.png' %} {% else %} {{ all.limg.url }} {% endif %}) ">
            </div>
            <div class="lec-info">
                <h1 class="lecid">{{ all.id }}</h1>
                <p class="lecname" {% if all in cuser.watchedlecs.all %} style="color: red;" {% else %} style="color: black;" {% endif %}>{{ all.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
<h2 class="alert alert-info">لم يتم نشر اي محاضرات بعد</h2>
{% endif %}
{% endblock main %}

{% block spstyle %}
    <script>
        window.addEventListener("load", function(){
            document.querySelectorAll(".nav-link")[0].classList.remove("active")
            document.querySelectorAll(".nav-link")[2].classList.add("active")
        });
    </script>
{% endblock spstyle %}