{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
    <header>
      <h2 class="head-forms ht">تسجيل الدخول لمنصة ساكاد</h2>
    </header>
    {% if messages %}
    <ul class="messages">
      {% for messages in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
          {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    <form id="forms" method="post">
        {% csrf_token %}
        {{ password_reset_form }}
        <button class="btn-forms btn btn-outline-info text-light" type="submit">أرسل</button>
        <a class="btn-forms btn btn-primary me-2" href="{% url 'student:login' %}">تسجيل الدخول</a><br />
        <a class="btn-forms btn btn-success mt-2" href="{% url 'student:join' %}">إنضم الينا</a>
    </form>
{% endblock main %}

