{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block nav %}
<nav class="navbar navbar-expand navbar-light bg-dark" dir="rtl">  <div class="container-fluid justify-content-center"><a class="navbar-brand" href="/"><img id="brandimg" src="{% static './media/images/secback.png' %}"  /></a>
  </div>
</nav>
{% endblock nav %}

{% block main %}

<h2 style="text-align:center;" class="m-5 alert alert-info" >
    {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
    {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.'%}
</h2>


{% endblock %}
