{% extends 'index.html' %}
{% load static %}
{% block nav %}
<nav class="navbar navbar-expand navbar-light bg-dark" dir="rtl">  <div class="container-fluid justify-content-center"><a class="navbar-brand" href="/"><img id="brandimg" src="{% static './media/images/secback.png' %}"  /></a>
  </div>
</nav>
{% endblock nav %}
{% block test %}{% endblock test %}
{% block main %}
    <h2 class="m-5 alert alert-danger" style="text-align:center">تم تغيير كلمة المرور الخاصه بحسابك</h2>
    <a href="{% url 'home:home' %}" class="btn btn-outline-success text-light">تسجيل الدخول مره أخري</a>
   
{% endblock main %}